version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: health-tracker-app
    restart:  unless-stopped
    ports:
      - "3003:3000"
    env_file:
      - .env
    environment:
      NODE_ENV: production
    volumes:
      - uploads_data:/app/uploads
    networks:
      - health-tracker-network
    command: sh -c "npx prisma migrate deploy --config=./prisma.config.mts && npm start"

volumes:
  uploads_data:
    driver: local

networks:
  health-tracker-network:
    driver: bridge